<h2> Author: </h2>
Nadir

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:


*   List popular languages for Data science
*   Create Code cell to multiply and add number
*   Make a table of Data Science Tools

Some of the popular languages that Data Scientists use are :
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter notebooks  |
| R Studio           |
| VS Code            |

<h3> Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
num_hours = 200/60
print(num_hours)

3.3333333333333335